html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    text-decoration: none;
    color: inherit;
}
/*Stylizing body and text*/
.dbody {
    font-family: "Open Sans", sans-serif;
    width: 760px;
    display: flex;
    flex-direction: column;
    background-image: url(/final-project/images/main-banner.jpg);
    background-size: 760px;
    background-repeat: no-repeat;
}
.dbody > h1 {
    font-size: 46px;
    color: white;
    font-weight: bold;
    line-height: 69px;
}
.dbody > h2 {
    font-size: 30px;
    font-weight: bold;
}
.dbody > h3 {
    font-size: 20px;
    font-weight: bold;
}
.dbody > h4 {
    font-size: 11px;
    font-weight: bold;
}
.dbody > p {
    font-size: 9px;
    padding: 1% 0 2% 0;
    line-height: 14px; 
}
.bigbox {
    display: inherit;
    justify-content: center;
}
.middlebox {
    width: 84%;
    max-width: 1200px;
    display: inherit;
}
.particlebox {
    padding-left: 1.5%;
}
/*Stylizing menu main box*/
.menu {
    background-color: #222;
}
.menu .bgmenu {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(8, 1fr);
    padding: 2% 10%;
}
#logo {
    height: 50px;
}
/*Stylizing menu boxes*/
.menu .bgmenu .box {
    max-height: 100%;
    background-color: #222;
    color: #C68D00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px
}
.menu .bgmenu .box:nth-child(1) {
    justify-content: start;
}
.menu .bgmenu .box:nth-child(2) {
    height: 100%;
    color: #222;
}
.menu .bgmenu .box .smallbox {
    display: flex;
    background-color: #C68D00;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.menu .bgmenu .box:nth-child(7) {
    grid-column: span 2;
    height: 100%;
}
.menu .bgmenu .box .searchbox {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .bgmenu .box .searchbox > input {
	padding: 0 0 0 10px;
	border: 0;
	width: 80%;
	height: 100%;
	font-size: inherit;
	outline: none;
}
.menu .bgmenu .box .searchbox > button {
  float: right;
  height: 100%;
  width: 20%;
  background: #222222;
  color: white;
  font-size: 16px;
  padding: 0;
  border: 2px solid #C68D00;
  cursor: pointer;
}
.menu .bgmenu .box .searchbox > button > i {
	color:  #C68D00;
}
/*Styliizing welcome div and box*/
.bgwelcome {
    padding: 4% 0;
}
.bgwelcome .welcomebox {
    background-color: rgba(0, 0, 0, 0.67);
    padding-top: 8%;
    padding-bottom: 4%;
    color: white;
}
/*Stylizing button*/
.bgwelcome .welcomebox .button {
    background-color: #C68D00;
    color: black;
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
 .bgwelcome .welcomebox .button:hover {
    background-color: #aa7b03;
    cursor: pointer;
}
/*Stylizing play button*/
.bgwelcome .welcomebox .play-button {
    margin: 0 0 0 10px;
    top: 25%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 13px;
    border-color: transparent transparent transparent #000;
    opacity: .75; 
}
/*Stylizing about us box*/
.about { 
    background-color: #FFE6AC;
}
/*Sttylizing about box content*/
.about .bgabout {
    padding: 2.5% 0;
}
.about .bgabout .image {
    width: 50%;
    height: 60%;
}
.about .bgabout .text {
    padding: 0 2.5% 0 1.5%;
    width: 50%;
}
#aboutimg {
    width: 100%;
}
/*Stylizing services*/
.services, .team, .contact, .hours {
    flex-wrap: wrap;
}
.services .title .titlebox {
    padding-top: 5%;
    width: 100%;
}
/*Stylizing services box*/
.services .bgservices{
    flex-direction: row;
    flex-wrap: wrap;
}
.services .title .titlebox > h2 {
    padding-bottom: 1.5%;
}
.services .bgservices .text > h3 {
    padding: 6% 0 2% 0;
}
/*Stylizing services digital and marketing boxes*/
.services .bgservices .servicebox {
    width: 48.5%;
    padding-bottom: 1.5%;
}
.services .bgservices .servicebox .image {
    display: flex;
}
/*Stylizing images size*/
#digital { 
    width: 100%;
}
#marketing {
    width: 100%;
}
#video {
    width: 100%;
}
#web {
    width: 100%;
}
#print {
    width: 100%;
}
.services .bgservices .servicebox .text {
    width: clac (98.5% - 20px);
    padding: 0 10px 2% 10px;
    background-color: #FFE6AC;
}
/*Stylizing services box button*/
.services .bgservices .servicebox .button {
    background-color: black;
    color: white;
    width: 97.5%;
    height: 60px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.services .bgservices .servicebox .button:hover {
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}
.services .bgservices .servicebox .play-button {
    margin: 0 0 0 10px;
    top: 25%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 9px;
    border-color: transparent transparent transparent white;
}
/*Stylizing for the last 3 services boxes*/
.services .bgservices .group2 {
    width: 31.83%;
}
/*Stylizing Our Vision*/
.vision {
    background-image: url(/final-project/images/vision.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 1%;
}
.vision .bgvision {
    flex-direction: column;
}
.vision .bgvision .particlebox > h3 {
    padding: 3.5% 0 1% 0;
}
.vision .bgvision .particlebox > p {
    padding: 1% 0;
}
.vision .bgvision .button {
    background-color: rgb(28, 28, 49);
    color: white;
    width: 20%;
    height: 60px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.vision .bgvision .button:hover {
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}
.vision .bgvision .play-button {
    margin: 0 0 0 10px;
    top: 25%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 9px;
    border-color: transparent transparent transparent white;
}
/*Stylizing Our Team*/
.team .title .titlebox {
    padding: 5% 0 2% 0;
}
.team .box {
    flex-wrap: wrap;
}
/*Stylizing Our Team content*/
.team .box .text {
    width: 46%;
    padding: 2%;
    background-color: #FFE6AC;
}
.team .box .text > h4 {
    border-bottom: 1.5px solid #C68D00;
}
.team .box .text > p {
    padding-top: 3%;
}
.team .box .image {
    width: 50%;
    display: inherit;
}
/*Stylizing Our Team images*/
#john {
    width: 100%;
}
#bob {
    width: 100%;
}
/*Stylizing Contact Us*/
/*Stylizing Contac Us tittle*/
.contact .title .titlebox {
    padding: 5% 0 2% 0;
    width: 100%;
}
/*Stylizing Contact Us content*/
.contact .middlebox .send {
    width: 50%;
}
/*Stylizing Contact Us form*/
.contact .middlebox .send > form > label {
    display: block;
}
.contact .middlebox .send > form > input, .contact .middlebox .send > form > textarea {
    width: 94%;
    border: solid 1px black;
}
.contact .middlebox .send > form > textarea {
    height: 120px;
    overflow: hidden;
    resize: none;
}
.contact .middlebox .send > form > input:last-child {
    width: 15%;
    color: #aa7b03;
    background-color: #222222;
}
.contact .middlebox .send > form > input:last-child:hover {
    background-color: black;
}
/*Stylizing Contac Us map*/
.contact .middlebox .location {
    width: 50%;
}
.contact .middlebox .location .map {
    padding-bottom:100%;
    position:relative;
}
.contact .middlebox .location .map > iframe {
    height:100%;
    width:100%;
    position:absolute;
}
/*Stylizing Hours of Operation*/
.hours .title .titlebox {
    padding: 5% 0 2% 0;
    width: 100%;
}
/*Stylizing Hours of Operation grid*/
.hours {
    padding-bottom: 1.5%;
}
.hours .middlebox .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
}
.hours .middlebox .grid .box {
    display: inherit;
    align-content: center;
    border: solid black 1px;
    padding: 2%;
    font-size: 10px;
}
.hours .middlebox .grid .box:nth-child(1), .hours .middlebox .grid .box:nth-child(2) {
    justify-items: center;
    background-color: #FFE6AC;
}
.hours .middlebox .grid .box:nth-child(2n-1) {
    grid-column: span 5;
}
.hours .middlebox .grid .box:nth-child(2n) {
    grid-column: span 3;
 }
 /*Stylizing Footer*/
footer {
     background-color: #222222;
     color: #C68D00;
     display: inherit;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 1% 0 0.5% 0;
}
footer .bigbox .middlebox {
    display: flex;
    flex-direction: column;
} 
footer .bigbox .middlebox > p {
    padding: 1% 0 0 0;
}
footer .bigbox .middlebox > p > a {
    text-decoration: underline;
}