html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
h2 {
	font-weight: bold;
	padding: 2% 0 0 0;
}
.mbody .sections {
	background-color: #3be0b726;
}
.mbody .navigator {
    background-color: black;
}
.mbody .navigator > ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.mbody .navigator > ul > li, .mbody .navigator > ul > li {
	display: flex;
	align-items: center;
	padding: 8%;
	color: white;
	flex-direction: column;
	font-size: 24px;
}
.mbody .navigator > ul > li:hover {
	background-color: rgb(39, 39, 39);
}
.mbody .navigator > ul > li:nth-child(2) {
	border: solid 5px #dbf8f1ee;
	border-top: 0;
	border-bottom: 0;
}
.mbody .navigator > ul > li > ul:nth-last-child(1)  {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding: 5% 0 0 0;
	font-size: 18px;
}
.mbody .navigator > ul > li > ul > li {
	padding: 5% 0 0 0;
}
/*About Section*/
.mbody .about {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 5%;
}
.mbody .about .aboutimg {
	width: 90%;
}
#tokyo {
	width: 100%;
}