html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Starts here*/
/*Adding background color to the body*/
a {
	text-decoration: inherit;
	color: inherit;
}
body {
	background-color: rgba(121, 245, 229, 0.452);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Centering the main content and giving background color*/
.maindiv {
    width: 70%;
    align-content: center;
	margin: auto;
	background-color: rgba(236, 253, 252, 0.767);
}
/*Styling the HEADER*/
/*Styling the title with image as a background*/
.headerimage {
	margin-left: 2px; 
	padding-top: 5%;
	background-image: url('../images/lone-starfish-wide.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: -2px 0 rgb(112, 112, 112);
}
.h1 {
	padding-top: 15%;
	padding-bottom: 5%;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: fantasy;
	font-size: 3em;
}
/*Styling navigation*/
.nav{
	margin: auto;
	height: 40px;
	display: inline;
}
.list {
	width: 100%;
	height: 100%;
}
.list-box, .list-middlebox {
	background: rgb(54, 54, 54);
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	width: 33%;
	font-size: 1.5em;
	color: whitesmoke;
	display: inline-block;
}
.list-middlebox {
	border-right: solid 1px whitesmoke;
	border-left: solid 1px whitesmoke;
}
.list :hover {
	background-color: rgb(29, 29, 29);
	cursor: pointer;
}
.list-middlebox :hover {
	background: none;
}
.list-box :hover {
	background: none;
}
/*Styling the ARTICLE*/
h2 {
	font-family: fantasy;
	font-size: 2em;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
}
/*Styling the image and its text*/
.article {
	padding: 10px;
	text-align: justify;
	line-height: 1.2rem;
}
.article-img {
	height: 180px;
	width: 180px;
	float: left;
	background-image: url('../images/lone-starfish.jpg');
	background-size: contain;
	margin-right: 15px;
}
h3 {
	font-family: fantasy;
	font-size: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*Stilizing the Facts About Starfishs*/
.article-facts {
	list-style: square;
	padding-left: 20px;
	letter-spacing: -0.5px;
	line-height: 1em;
}
/*Styling the FORM*/
/*Styling the form frames*/
.form {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}
.form-border{
	border: solid 1px black;
}
.form-content {
	padding: 10px;
	padding-right: 20px;
}
/*Styling the form labels*/
.form-labels, .form-question {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1em;
	font-weight: 600;
}
/*Styling the form fields, submit button and form question*/
.form-fields, .form-field {
	align-content: flex-start;
	width: 100%;
	border: solid 1px rgb(182, 182, 182);
	padding-top: 5px;
	padding-bottom: 5px;
}
.form-field {
	height: 90px;
	text-align: start;
	box-shadow: 0 -0.5px rgb(131, 131, 131);
	resize: none;
}
.submit {
	padding-top: 10px;
}
.form-question {
	font-size: 1.2em;
}
/*Styling the FOOTER*/
.footer {
	padding: 20px;
	text-align: right;
}