html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Starts here*/
/*Adding background color to the body*/
a {
	text-decoration: inherit;
	color: inherit;
}
body {
	background-color: rgba(121, 245, 229, 0.452);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Centering the main content and giving background color*/
.maindiv {
    width: 70%;
    align-content: center;
	margin: auto;
	background-color: rgba(236, 253, 252, 0.767);
}
/*Styling the HEADER*/
/*Styling the title with image as a background*/
.headerimage {
	margin-left: 2px; 
	box-shadow: -2px 0 rgb(112, 112, 112);
	position: relative;
}
#headerimage {
	width: 100%;
	height: 100%;
	top: 100%;
}
.h1 {
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: fantasy;
	font-size: 3em;
	width: 100%;
	position: absolute;
	top: 60%;
	z-index: 1;
}
/*Styling navigation*/
.nav{
	height: 40px;
	display: inline;
}
.list {
	height: 100%;
}
.nav > ul > li {
		background: rgb(54, 54, 54);
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		width: 33%;
		font-size: 1.5em;
		color: whitesmoke;
		display: inline-block;
	}
.list-middlebox {
	border-right: solid 1px whitesmoke;
	border-left: solid 1px whitesmoke;
}
.list:hover {
	background-color: rgb(29, 29, 29);
	cursor: pointer;
}
.list > li:hover {
	background: none;
}
/*Styling the ARTICLE*/
h2 {
	font-family: fantasy;
	font-size: 2em;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
}
/*Styling the image and its text*/
.article {
	padding: 10px;
	text-align: justify;
	line-height: 1.2rem;
}
#article-image {
	width: 260px;
	float: left;
	margin-right: 5px;
}
h3 {
	font-family: fantasy;
	font-size: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*Stilizing the Facts About Starfishs*/
.article-facts {
	list-style: square;
	padding-left: 20px;
	letter-spacing: -0.5px;
	line-height: 1em;
}
/*Styling the FORM*/
/*Styling the form frames*/
.form {
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}
.form-border{
	border: solid 1px black;
}
.form-content1, .form-content2 {
	margin: 10px;
	padding-right: 5px;
}
/*Styling the form labels*/
#form-name, #form-email{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-weight: 600;
	display: block;
}
/*Styling the form fields*/
#form-field {
	align-content: flex-start;
	width: 100%;
	border: solid 1px rgb(182, 182, 182);
	padding-top: 5px;
	padding-bottom: 5px;
}
.form-content1 > label {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1em;
	font-weight: 600;
	display: block;
}
.form-content2 > label {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.9em;
	font-weight: 600;
	display: inline-block;
}
#form-field {
	height: 90px;
	text-align: start;
	box-shadow: 0 -0.5px rgb(131, 131, 131);
	resize: none;
}
/*Styling the submit button*/
.submit {
	padding-top: 10px;
}
#submit {
	background-color: rgba(6, 72, 88, 0.568);
	color: seashell;
	box-shadow: silver -1px -2px;
	border-radius: 10%;
}
#submit:hover {
	background-color: rgba(4, 48, 59, 0.568);
	cursor: pointer;
}
/*Styling the FOOTER*/
.footer {
	padding: 20px;
	text-align: right;
}